@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NoSQL Kurssi tehtävä - MongoDB Atlas</h1>
    <p class="lead">Tämä on toteutettu MongoDB Atlaksen ilmaisella clusterilla</p>
    <p><a href="#" class="btn btn-primary btn-lg">By Hannu Ilvonen</a></p>
</div>

